@import "../root.scss";

.header {
  background-color: $ui-03;
  top: 3rem;
  border-bottom: 1px solid $text-03;
  z-index: 1000;
  position: unset !important;

  a {
    @include carbon--type-style('productive-heading-02');
    color: $text-01;

    &:hover {
      color: inherit;
    }
  }

  &:not(.maximized) {
    right: auto;
    left: auto;
  }
}

.hide {
  display: none;
}

.show {
  display: inline-block;
}

.fixed {
  position: fixed !important;
  top: 6rem;
  right: auto;
  left: auto;
  overflow-y: auto;
  background-color: $ui-02;
}

.fullWidth {
  // Subtract side rail width
  // width: calc(100% - 1rem);
  width: 100%;
}

.dynamicWidth {
  width: calc(50% - 9.6rem);
}

.maximized {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  overflow-y: auto;
}

.container {
  // margin-right: 1rem;
  flex: 1;
  height: calc(100vh - 9rem);
  min-width: 50%;
  min-height: 100%;
}
